.editBtn {
    font-size: 1.7rem;
}

.editBtn:hover {
    cursor: pointer;
    color: rgb(244, 241, 250);
}


.btnPromt{
    background-color: #bb9fef;
}

.btnPromt:hover{
    cursor: pointer;
    background-color: rgb(244, 241, 250);
}

.pastCon {
    width: 175px;
    background-color: #D7C7F4;
}

.pastCon:hover {
   cursor: pointer;
   background: rgb(244, 241, 250);
}

